# Introduction to Polars

In [6]:
!uv pip install polars

Using Python 3.12.1 environment at: devpy
Audited 1 package in 1ms

In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import polars as pl

## Reading Data (Parquet)

In [3]:
s3file = 's3://techcatalyst-raw/yellow_tripdata_2024-01.parquet'
df = pl.read_parquet(s3file)

In [6]:
df.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 22.7      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:57:55  ┆ 01:17:43  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 18.75     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:03:00  ┆ 00:09:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 31.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:17:06  ┆ 00:35:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 17.0      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:38  ┆ 00:44:56  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 16.1      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:46:51  ┆ 00:52:57  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## Inspecting our Polars DataFrame

Equivalent to `pandas.DataFrame.info()`

In [11]:
df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

In [12]:
df.dtypes

[Int32,
 Datetime(time_unit='us', time_zone=None),
 Datetime(time_unit='us', time_zone=None),
 Float64,
 Float64,
 Float64,
 String,
 Int32,
 Int32,
 Int64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64]

Using the Lazy API

In [13]:
df.schema

Schema([('VendorID', Int32),
        ('tpep_pickup_datetime', Datetime(time_unit='us', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='us', time_zone=None)),
        ('passenger_count', Float64),
        ('trip_distance', Float64),
        ('RatecodeID', Float64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int32),
        ('DOLocationID', Int32),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('Airport_fee', Float64)])

In [14]:
df.shape

(2964624, 19)

In [15]:
df.describe()

shape: (9, 20)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ VendorID  ┆ tpep_pick ┆ tpep_drop ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_ │
│ ---       ┆ ---       ┆ up_dateti ┆ off_datet ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ str       ┆ f64       ┆ me        ┆ ime       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆           ┆ ---       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆           ┆ str       ┆ str       ┆   ┆ f64       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2.964624e ┆ 2964624   ┆ 2964624   ┆ … ┆ 2.964624e ┆ 2.964624e ┆ 2.824462e ┆ 2.824462 │
│           ┆ 6         ┆           ┆           ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 140162.0  ┆ 140162.0 │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 1.754204  ┆ 2024-01-1 ┆ 2024-01-1 ┆ … ┆ 0.975632  ┆ 26.801505 ┆ 2.256122  ┆ 0.141161 │
│           ┆           ┆ 7 00:46:3 ┆ 7 01:02:1 ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 6.431093  ┆ 3.208130  ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 0.43259   ┆ null      ┆ null      ┆ … ┆ 0.218364  ┆ 23.385577 ┆ 0.823275  ┆ 0.487624 │
│ min       ┆ 1.0       ┆ 2002-12-3 ┆ 2002-12-3 ┆ … ┆ -1.0      ┆ -900.0    ┆ -2.5      ┆ -1.75    │
│           ┆           ┆ 1         ┆ 1         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 22:59:39  ┆ 23:05:41  ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 2.0       ┆ 2024-01-0 ┆ 2024-01-0 ┆ … ┆ 1.0       ┆ 15.38     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 9         ┆ 9         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 15:59:20  ┆ 16:16:23  ┆   ┆           ┆           ┆           ┆          │
│ 50%       ┆ 2.0       ┆ 2024-01-1 ┆ 2024-01-1 ┆ … ┆ 1.0       ┆ 20.1      ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 7         ┆ 7         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 10:45:38  ┆ 11:03:52  ┆   ┆           ┆           ┆           ┆          │
│ 75%       ┆ 2.0       ┆ 2024-01-2 ┆ 2024-01-2 ┆ … ┆ 1.0       ┆ 28.56     ┆ 2.5       ┆ 0.0      │
│           ┆           ┆ 4         ┆ 4         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 18:23:52  ┆ 18:40:29  ┆   ┆           ┆           ┆           ┆          │
│ max       ┆ 6.0       ┆ 2024-02-0 ┆ 2024-02-0 ┆ … ┆ 1.0       ┆ 5000.0    ┆ 2.5       ┆ 1.75     │
│           ┆           ┆ 1         ┆ 2         ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆ 00:01:15  ┆ 13:56:52  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [18]:
df['payment_type'].value_counts()

shape: (5, 2)
┌──────────────┬─────────┐
│ payment_type ┆ count   │
│ ---          ┆ ---     │
│ i64          ┆ u32     │
╞══════════════╪═════════╡
│ 4            ┆ 46628   │
│ 0            ┆ 140162  │
│ 2            ┆ 439191  │
│ 1            ┆ 2319046 │
│ 3            ┆ 19597   │
└──────────────┴─────────┘

In [21]:
df['payment_type'].value_counts().sort('count', descending=True)

shape: (5, 2)
┌──────────────┬─────────┐
│ payment_type ┆ count   │
│ ---          ┆ ---     │
│ i64          ┆ u32     │
╞══════════════╪═════════╡
│ 1            ┆ 2319046 │
│ 2            ┆ 439191  │
│ 0            ┆ 140162  │
│ 4            ┆ 46628   │
│ 3            ┆ 19597   │
└──────────────┴─────────┘

To do count with sorting

## Checking for Nulls
* Similar to `pandas.DataFrame.isna().sum()`

In [17]:
df.null_count()

shape: (1, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ u32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ u32       ┆   ┆ ---       ┆ u32       ┆ ---       ┆ u32       │
│          ┆ u32       ┆ u32       ┆           ┆   ┆ u32       ┆           ┆ u32       ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0        ┆ 0         ┆ 0         ┆ 140162    ┆ … ┆ 0         ┆ 0         ┆ 140162    ┆ 140162    │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## Basic conversions and column operations

In [25]:
df.head()

shape: (5, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 22.7      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:57:55  ┆ 01:17:43  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 18.75     ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:03:00  ┆ 00:09:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 31.3      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:17:06  ┆ 00:35:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 17.0      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:38  ┆ 00:44:56  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 16.1      ┆ 2.5       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:46:51  ┆ 00:52:57  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [65]:
df.with_columns(
    pl.col("tpep_pickup_datetime") - pl.col("tpep_dropoff_datetime")
)

shape: (2_964_624, 19)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_f │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ ee        │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64       │
│          ┆ duration[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ -19m -48s ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 22.7      ┆ 2.5       ┆ 0.0       │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 01:17:43  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -6m -36s  ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 18.75     ┆ 2.5       ┆ 0.0       │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 00:09:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -17m -55s ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 31.3      ┆ 2.5       ┆ 0.0       │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 00:35:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -8m -18s  ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 17.0      ┆ 2.5       ┆ 0.0       │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 00:44:56  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -6m -6s   ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 1.0       ┆ 16.1      ┆ 2.5       ┆ 0.0       │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 00:52:57  ┆           ┆   ┆           ┆           ┆           ┆           │
│ …        ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2        ┆ -8m -37s  ┆ 2024-01-3 ┆ null      ┆ … ┆ 1.0       ┆ 21.77     ┆ null      ┆ null      │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 23:54:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -14m -45s ┆ 2024-01-3 ┆ null      ┆ … ┆ 1.0       ┆ 25.74     ┆ null      ┆ null      │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 23:27:52  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ -19m      ┆ 2024-01-3 ┆ null      ┆ … ┆ 1.0       ┆ 23.97     ┆ null      ┆ null      │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 23:38:00  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ -17m -51s ┆ 2024-01-3 ┆ null      ┆ … ┆ 1.0       ┆ 33.46     ┆ null      ┆ null      │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 23:25:14  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ -15m -5s  ┆ 2024-02-0 ┆ null      ┆ … ┆ 1.0       ┆ 55.88     ┆ null      ┆ null      │
│          ┆           ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆           ┆ 00:13:30  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [37]:
df = df.with_columns(
    (pl.col("tpep_dropoff_datetime") - pl.col("tpep_pickup_datetime")).alias("trip_duration")
)
df.head()

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ Airport_f ┆ trip_dura │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ tion      │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ duration[ │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆ μs]       │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 22.7      ┆ 2.5       ┆ 0.0       ┆ 19m 48s   │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:57:55  ┆ 01:17:43  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 18.75     ┆ 2.5       ┆ 0.0       ┆ 6m 36s    │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:03:00  ┆ 00:09:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 31.3      ┆ 2.5       ┆ 0.0       ┆ 17m 55s   │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:17:06  ┆ 00:35:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 17.0      ┆ 2.5       ┆ 0.0       ┆ 8m 18s    │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:38  ┆ 00:44:56  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 16.1      ┆ 2.5       ┆ 0.0       ┆ 6m 6s     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:46:51  ┆ 00:52:57  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [38]:
df.group_by("payment_type")

In [42]:
df.group_by("payment_type").len()

shape: (5, 2)
┌──────────────┬─────────┐
│ payment_type ┆ len     │
│ ---          ┆ ---     │
│ i64          ┆ u32     │
╞══════════════╪═════════╡
│ 0            ┆ 140162  │
│ 2            ┆ 439191  │
│ 3            ┆ 19597   │
│ 1            ┆ 2319046 │
│ 4            ┆ 46628   │
└──────────────┴─────────┘

In [46]:
cols = ['payment_type', 'tip_amount', 'tolls_amount', 'total_amount', 'fare_amount']
df[cols].group_by("payment_type").mean()

shape: (5, 5)
┌──────────────┬────────────┬──────────────┬──────────────┬─────────────┐
│ payment_type ┆ tip_amount ┆ tolls_amount ┆ total_amount ┆ fare_amount │
│ ---          ┆ ---        ┆ ---          ┆ ---          ┆ ---         │
│ i64          ┆ f64        ┆ f64          ┆ f64          ┆ f64         │
╞══════════════╪════════════╪══════════════╪══════════════╪═════════════╡
│ 4            ┆ 0.042125   ┆ 0.034827     ┆ 1.773829     ┆ 1.334889    │
│ 3            ┆ 0.01456    ┆ 0.155897     ┆ 8.755475     ┆ 6.752569    │
│ 0            ┆ 1.545957   ┆ 0.357547     ┆ 25.811737    ┆ 20.016194   │
│ 2            ┆ 0.002296   ┆ 0.46705      ┆ 22.884506    ┆ 17.866037   │
│ 1            ┆ 4.169671   ┆ 0.561654     ┆ 28.258861    ┆ 18.557432   │
└──────────────┴────────────┴──────────────┴──────────────┴─────────────┘

In [ ]:
(df[cols].group_by("payment_type")
         .agg(pl.col('fare_amount').mean().alias('average_fare'), 
              pl.col('total_amount').median().alias('median_total')))

shape: (5, 3)
┌──────────────┬──────────────┬──────────────┐
│ payment_type ┆ average_fare ┆ median_total │
│ ---          ┆ ---          ┆ ---          │
│ i64          ┆ f64          ┆ f64          │
╞══════════════╪══════════════╪══════════════╡
│ 3            ┆ 6.752569     ┆ 9.5          │
│ 1            ┆ 18.557432    ┆ 20.64        │
│ 0            ┆ 20.016194    ┆ 21.86        │
│ 4            ┆ 1.334889     ┆ 7.7          │
│ 2            ┆ 17.866037    ┆ 16.8         │
└──────────────┴──────────────┴──────────────┘

In [52]:
df = df.with_columns([
    pl.col("tpep_pickup_datetime").dt.year().alias("pickup_year"),
    pl.col("tpep_pickup_datetime").dt.month().alias("pickup_month"),
])
df.head()

shape: (5, 22)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ Airport_f ┆ trip_dura ┆ pickup_ye ┆ pickup_mo │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ ee        ┆ tion      ┆ ar        ┆ nth       │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ duration[ ┆ i32       ┆ i8        │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ μs]       ┆           ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 19m 48s   ┆ 2024      ┆ 1         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:57:55  ┆ 01:17:43  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 6m 36s    ┆ 2024      ┆ 1         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:03:00  ┆ 00:09:36  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 17m 55s   ┆ 2024      ┆ 1         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:17:06  ┆ 00:35:01  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 8m 18s    ┆ 2024      ┆ 1         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:36:38  ┆ 00:44:56  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 0.0       ┆ 6m 6s     ┆ 2024      ┆ 1         │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:46:51  ┆ 00:52:57  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [57]:
df.group_by('pickup_year').len()

shape: (4, 2)
┌─────────────┬─────────┐
│ pickup_year ┆ len     │
│ ---         ┆ ---     │
│ i32         ┆ u32     │
╞═════════════╪═════════╡
│ 2002        ┆ 2       │
│ 2009        ┆ 3       │
│ 2023        ┆ 10      │
│ 2024        ┆ 2964609 │
└─────────────┴─────────┘

In [58]:
df['pickup_year'].value_counts()

shape: (4, 2)
┌─────────────┬─────────┐
│ pickup_year ┆ count   │
│ ---         ┆ ---     │
│ i32         ┆ u32     │
╞═════════════╪═════════╡
│ 2009        ┆ 3       │
│ 2023        ┆ 10      │
│ 2002        ┆ 2       │
│ 2024        ┆ 2964609 │
└─────────────┴─────────┘

In [59]:
df.select([
    "tpep_pickup_datetime", 
    "pickup_year", 
    "pickup_month"
]).head()

shape: (5, 3)
┌──────────────────────┬─────────────┬──────────────┐
│ tpep_pickup_datetime ┆ pickup_year ┆ pickup_month │
│ ---                  ┆ ---         ┆ ---          │
│ datetime[μs]         ┆ i32         ┆ i8           │
╞══════════════════════╪═════════════╪══════════════╡
│ 2024-01-01 00:57:55  ┆ 2024        ┆ 1            │
│ 2024-01-01 00:03:00  ┆ 2024        ┆ 1            │
│ 2024-01-01 00:17:06  ┆ 2024        ┆ 1            │
│ 2024-01-01 00:36:38  ┆ 2024        ┆ 1            │
│ 2024-01-01 00:46:51  ┆ 2024        ┆ 1            │
└──────────────────────┴─────────────┴──────────────┘

## Polars Lazy API:
__Why / When?__
* __Eager API (default)__: Each operation runs immediately, like in Pandas. Good for small-to-medium datasets or quick scripts.
* __Lazy API__: Chains your operations, optimizes the query plan, and then executes. Essential for large data, heavy processing, or pipelines—it’s similar to SQL-style query optimization.**

Example of Eager:

In [68]:
import polars as pl

# Read data
df = pl.read_parquet(s3file)

# Add trip duration (in minutes)
df = df.with_columns(
    (
        (pl.col("tpep_dropoff_datetime") - pl.col("tpep_pickup_datetime"))
        .dt.total_seconds() / 60
    ).alias("trip_duration_min")
)

# Filter trips longer than 5 minutes
df_filtered = df.filter(pl.col("trip_duration_min") > 25)

df_filtered.head()

shape: (5, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ total_amo ┆ congestio ┆ Airport_f ┆ trip_dura │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ n_surchar ┆ ee        ┆ tion_min  │
│ i32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ge        ┆ ---       ┆ ---       │
│          ┆ ---       ┆ ---       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ f64       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f64       ┆           ┆           │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 41.5      ┆ 2.5       ┆ 0.0       ┆ 32.383333 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:54:08  ┆ 01:26:31  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 2.0       ┆ … ┆ 64.95     ┆ 0.0       ┆ 1.75      ┆ 26.05     │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:49:44  ┆ 01:15:47  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 0.0       ┆ … ┆ 30.4      ┆ 2.5       ┆ 0.0       ┆ 28.0      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:30:40  ┆ 00:58:40  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 1.0       ┆ … ┆ 36.0      ┆ 2.5       ┆ 0.0       ┆ 28.183333 │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:26:01  ┆ 00:54:12  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2024-01-0 ┆ 2024-01-0 ┆ 2.0       ┆ … ┆ 85.09     ┆ 2.5       ┆ 0.0       ┆ 36.6      │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:16  ┆ 01:11:52  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [70]:
df_filtered.shape

(411007, 20)

Example of Lazy:

In [72]:
q = (
    pl.scan_parquet(s3file)
    .with_columns([
        (
            (pl.col("tpep_dropoff_datetime") - pl.col("tpep_pickup_datetime"))
            .dt.total_seconds() / 60
        ).alias("trip_duration_min")
    ])
    .filter(pl.col("trip_duration_min") > 5)
    .group_by("payment_type")
    .agg(pl.col("fare_amount").mean().alias("avg_fare"))
)

In [74]:
print(q.explain())

AGGREGATE[maintain_order: false]
  [col("fare_amount").mean().alias("avg_fare")] BY [col("payment_type")]
  FROM
  FILTER [(col("trip_duration_min")) > (5.0)]
  FROM
     WITH_COLUMNS:
     [[([(col("tpep_dropoff_datetime")) - (col("tpep_pickup_datetime"))].dt.total_seconds()) / (60)].alias("trip_duration_min")]
      Parquet SCAN [s3://techcatalyst-raw/yellow_tripdata_2024-01.parquet]
      PROJECT 4/19 COLUMNS

In [ ]:
df_lazy = q.collect()
df_lazy.head()

shape: (5, 2)
┌──────────────┬───────────┐
│ payment_type ┆ avg_fare  │
│ ---          ┆ ---       │
│ i64          ┆ f64       │
╞══════════════╪═══════════╡
│ 4            ┆ 1.54847   │
│ 3            ┆ 9.194184  │
│ 1            ┆ 19.892705 │
│ 0            ┆ 20.625225 │
│ 2            ┆ 19.774456 │
└──────────────┴───────────┘

: