In [5]:
import boto3
import os
s3_client = boto3.client('s3')

from dotenv import load_dotenv
load_dotenv()

True

In [13]:
# list bucket names 
buckets = s3_client.list_buckets()
for bucket in buckets['Buckets']:
    if 'techcatalyst' in bucket['Name']:
        print(bucket['Name'])

capstone-techcatalyst-conformed
capstone-techcatalyst-raw
capstone-techcatalyst-transformed
techcatalyst-public
techcatalyst-raw
techcatalyst-transformed

In [14]:
# list objects in a specific bucket "techcatalyst-raw"
bucket_name = "techcatalyst-raw"
objects = s3_client.list_objects_v2(Bucket=bucket_name)
for obj in objects['Contents']:
    print(obj['Key'])

BLAKE/test_export.parquet
BLAKE/upload_file_method_GOOG.csv
BLAKE/upload_fileobj_method.txt
BLAKE_wr/9288e6c1eed4476d98eade7875cbf9c0.snappy.parquet
BLAKE_wr/uploads/wr_newfile.csv
Ben/Million_Songs/
Ben/bingchilling.txt
Ben/gooooog.csv
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000000_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000001_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000002_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000003_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000004_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000005_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000006_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000007_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000008_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000009_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000010_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000011_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000012_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000013_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000014_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000015_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000016_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000017_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000018_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000019_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000020_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000021_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000022_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000023_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000024_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000025_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000026_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000027_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000028_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000029_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000030_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000031_000000.snappy.parquet
Ben/uploads/Google_upload_test
EMMA/emna_goog.csv
EMMA/emna_goog.txt
EMMA/test_export.parquet
MELISSA/test_export.parquet
MillionSongSubset/
MillionSongSubset/log-data/2018-11-01-events.json
MillionSongSubset/log-data/2018-11-02-events.json
MillionSongSubset/log-data/2018-11-03-events.json
MillionSongSubset/log-data/2018-11-04-events.json
MillionSongSubset/log-data/2018-11-05-events.json
MillionSongSubset/log-data/2018-11-06-events.json
MillionSongSubset/log-data/2018-11-07-events.json
MillionSongSubset/log-data/2018-11-08-events.json
MillionSongSubset/log-data/2018-11-09-events.json
MillionSongSubset/log-data/2018-11-10-events.json
MillionSongSubset/log-data/2018-11-11-events.json
MillionSongSubset/log-data/2018-11-12-events.json
MillionSongSubset/log-data/2018-11-13-events.json
MillionSongSubset/log-data/2018-11-14-events.json
MillionSongSubset/log-data/2018-11-15-events.json
MillionSongSubset/log-data/2018-11-16-events.json
MillionSongSubset/log-data/2018-11-17-events.json
MillionSongSubset/log-data/2018-11-18-events.json
MillionSongSubset/log-data/2018-11-19-events.json
MillionSongSubset/log-data/2018-11-20-events.json
MillionSongSubset/log-data/2018-11-21-events.json
MillionSongSubset/log-data/2018-11-22-events.json
MillionSongSubset/log-data/2018-11-23-events.json
MillionSongSubset/log-data/2018-11-24-events.json
MillionSongSubset/log-data/2018-11-25-events.json
MillionSongSubset/log-data/2018-11-26-events.json
MillionSongSubset/log-data/2018-11-27-events.json
MillionSongSubset/log-data/2018-11-28-events.json
MillionSongSubset/log-data/2018-11-29-events.json
MillionSongSubset/log-data/2018-11-30-events.json
MillionSongSubset/song_data/A/A/A/TRAAAAW128F429D538.json
MillionSongSubset/song_data/A/A/A/TRAAABD128F429CF47.json
MillionSongSubset/song_data/A/A/A/TRAAADZ128F9348C2E.json
MillionSongSubset/song_data/A/A/A/TRAAAEF128F4273421.json
MillionSongSubset/song_data/A/A/A/TRAAAFD128F92F423A.json
MillionSongSubset/song_data/A/A/A/TRAAAMO128F1481E7F.json
MillionSongSubset/song_data/A/A/A/TRAAAMQ128F1460CD3.json
MillionSongSubset/song_data/A/A/A/TRAAAPK128E0786D96.json
MillionSongSubset/song_data/A/A/A/TRAAARJ128F9320760.json
MillionSongSubset/song_data/A/A/A/TRAAAVG12903CFA543.json
MillionSongSubset/song_data/A/A/A/TRAAAVO128F93133D4.json
MillionSongSubset/song_data/A/A/B/TRAABCL128F4286650.json
MillionSongSubset/song_data/A/A/B/TRAABDL12903CAABBA.json
MillionSongSubset/song_data/A/A/B/TRAABJL12903CDCF1A.json
MillionSongSubset/song_data/A/A/B/TRAABJV128F1460C49.json
MillionSongSubset/song_data/A/A/B/TRAABLR128F423B7E3.json
MillionSongSubset/song_data/A/A/B/TRAABNV128F425CEE1.json
MillionSongSubset/song_data/A/A/B/TRAABRB128F9306DD5.json
MillionSongSubset/song_data/A/A/B/TRAABVM128F92CA9DC.json
MillionSongSubset/song_data/A/A/B/TRAABXG128F9318EBD.json
MillionSongSubset/song_data/A/A/B/TRAABYN12903CFD305.json
MillionSongSubset/song_data/A/A/B/TRAABYW128F4244559.json
MillionSongSubset/song_data/A/A/C/TRAACCG128F92E8A55.json
MillionSongSubset/song_data/A/A/C/TRAACER128F4290F96.json
MillionSongSubset/song_data/A/A/C/TRAACFV128F935E50B.json
MillionSongSubset/song_data/A/A/C/TRAACHN128F1489601.json
MillionSongSubset/song_data/A/A/C/TRAACIW12903CC0F6D.json
MillionSongSubset/song_data/A/A/C/TRAACLV128F427E123.json
MillionSongSubset/song_data/A/A/C/TRAACNS128F14A2DF5.json
MillionSongSubset/song_data/A/A/C/TRAACOW128F933E35F.json
MillionSongSubset/song_data/A/A/C/TRAACPE128F421C1B9.json
MillionSongSubset/song_data/A/A/C/TRAACQT128F9331780.json
MillionSongSubset/song_data/A/A/C/TRAACSL128F93462F4.json
MillionSongSubset/song_data/A/A/C/TRAACTB12903CAAF15.json
MillionSongSubset/song_data/A/A/C/TRAACVS128E078BE39.json
MillionSongSubset/song_data/A/A/C/TRAACZK128F4243829.json
MillionSongSubset/song_data/A/B/A/TRABACN128F425B784.json
MillionSongSubset/song_data/A/B/A/TRABAFJ128F42AF24E.json
MillionSongSubset/song_data/A/B/A/TRABAFP128F931E9A1.json
MillionSongSubset/song_data/A/B/A/TRABAIO128F42938F9.json
MillionSongSubset/song_data/A/B/A/TRABATO128F42627E9.json
MillionSongSubset/song_data/A/B/A/TRABAVQ12903CBF7E0.json
MillionSongSubset/song_data/A/B/A/TRABAWW128F4250A31.json
MillionSongSubset/song_data/A/B/A/TRABAXL128F424FC50.json
MillionSongSubset/song_data/A/B/A/TRABAXR128F426515F.json
MillionSongSubset/song_data/A/B/A/TRABAXV128F92F6AE3.json
MillionSongSubset/song_data/A/B/A/TRABAZH128F930419A.json
MillionSongSubset/song_data/A/B/B/TRABBAM128F429D223.json
MillionSongSubset/song_data/A/B/B/TRABBBV128F42967D7.json
MillionSongSubset/song_data/A/B/B/TRABBJE12903CDB442.json
MillionSongSubset/song_data/A/B/B/TRABBKX128F4285205.json
MillionSongSubset/song_data/A/B/B/TRABBLU128F93349CF.json
MillionSongSubset/song_data/A/B/B/TRABBNP128F932546F.json
MillionSongSubset/song_data/A/B/B/TRABBOP128F931B50D.json
MillionSongSubset/song_data/A/B/B/TRABBOR128F4286200.json
MillionSongSubset/song_data/A/B/B/TRABBTA128F933D304.json
MillionSongSubset/song_data/A/B/B/TRABBVJ128F92F7EAA.json
MillionSongSubset/song_data/A/B/B/TRABBXU128F92FEF48.json
MillionSongSubset/song_data/A/B/B/TRABBZN12903CD9297.json
MillionSongSubset/song_data/A/B/C/TRABCAJ12903CDFCC2.json
MillionSongSubset/song_data/A/B/C/TRABCEC128F426456E.json
MillionSongSubset/song_data/A/B/C/TRABCEI128F424C983.json
MillionSongSubset/song_data/A/B/C/TRABCFL128F149BB0D.json
MillionSongSubset/song_data/A/B/C/TRABCIX128F4265903.json
MillionSongSubset/song_data/A/B/C/TRABCKL128F423A778.json
MillionSongSubset/song_data/A/B/C/TRABCPZ128F4275C32.json
MillionSongSubset/song_data/A/B/C/TRABCRU128F423F449.json
MillionSongSubset/song_data/A/B/C/TRABCTK128F934B224.json
MillionSongSubset/song_data/A/B/C/TRABCUQ128E0783E2B.json
MillionSongSubset/song_data/A/B/C/TRABCXB128F4286BD3.json
MillionSongSubset/song_data/A/B/C/TRABCYE128F934CE1D.json
YOURNAME/test_export.parquet
aamnah/GOOG.csv
aamnah/GOOG.txt
accidents/
accidents/accidents_2017_to_2023_english.csv
alexia/957133637c684b09a94cc753e0c594a2_000000_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000001_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000002_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000003_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000000_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000001_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000002_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000003_000000.snappy.parquet
emma/uploads/wr_emma_stock
fabiola/a3a03886216d40279ccfca68cc237524.snappy.parquet
fabiola/uploads/wr_GOOG.csv
jaden/6e08eee074434aa7abda59ab22bc3ea7.snappy.parquet
jaden/uploads/new_file.csv
michael/e798e42882254cf5a9e99351bd7626d6.snappy.parquet
miraj/DOWNLOADEDGOOGLEDATA.csv
miraj/test_export.parquet
shaswat/e4e70d26665c4d07af4bdaab85f8975e.snappy.parquet
shaswat/uploads/new_file.csv
stage/
stage/yellow_tripdata.csv
stage/yellow_tripdata.json
stage/yellow_tripdata.parquet
stocks/
stocks/GOOG.csv
suchitha/55bb31001ebb40eab50c449bb676aa7f.snappy.parquet
suchitha/uploads/sales.csv
tatwan/51addc9167684aa281c96fd5ae2d5be2.snappy.parquet
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tatwan/buffer.txt
taxi_data/
taxi_data/yellow_tripdata_2024-01.parquet
taxi_data/yellow_tripdata_2024-02.parquet
taxi_data/yellow_tripdata_2024-03.parquet
taxi_data/yellow_tripdata_2024-04.parquet
tyler/a9eb62c2331843b9a9af873a09e1017e.snappy.parquet
yellow_tripdata_2024-01.parquet
yellow_tripdata_2024-02.parquet
yellow_tripdata_2024-03.parquet
yellow_tripdata_2024-04.parquet

In [15]:
for obj in objects['Contents']:
    if  obj['Key'].split('.')[-1] == "csv":
        print(obj['Key'])

BLAKE/upload_file_method_GOOG.csv
BLAKE_wr/uploads/wr_newfile.csv
Ben/gooooog.csv
EMMA/emna_goog.csv
aamnah/GOOG.csv
accidents/accidents_2017_to_2023_english.csv
fabiola/uploads/wr_GOOG.csv
jaden/uploads/new_file.csv
miraj/DOWNLOADEDGOOGLEDATA.csv
shaswat/uploads/new_file.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
suchitha/uploads/sales.csv
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv

In [16]:
key = "stocks/GOOG.csv"
out_filename = "goooooog.csv"
s3_client.download_file(Bucket=bucket_name,
                        Key=key,
                        Filename=out_filename)

import pandas as pd
display(pd.read_csv(out_filename))

                   Date    Open    High     Low   Close    Volume
0     1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1     1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2     1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3     1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4     1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341
..                  ...     ...     ...     ...     ...       ...
135  7/21/2025 16:00:00  187.10  191.26  187.05  191.15  24664994
136  7/22/2025 16:00:00  192.42  193.36  188.50  192.11  26212909
137  7/23/2025 16:00:00  192.36  193.36  190.18  191.51  34068129
138  7/24/2025 16:00:00  198.11  198.97  191.95  193.20  45252060
139  7/25/2025 16:00:00  192.93  195.28  192.13  194.08  31101847

[140 rows x 6 columns]

In [17]:
import io
io_temp = io.BytesIO()
temp = s3_client.download_fileobj(Bucket=bucket_name,
                                  Key=key,
                                  Fileobj=io_temp)
print(io_temp.getvalue()[:100])
io_temp.seek(0)
display(next(io_temp))
display(next(io_temp))

io_temp.seek(0)
with open('google_stock_downloaded.csv', 'wb') as f:
    f.write(io_temp.getvalue())

b'Date,Open,High,Low,Close,Volume\r\n1/2/2025 16:00:00,191.49,193.2,188.71,190.63,17545162\r\n1/3/2025 16:'

b'Date,Open,High,Low,Close,Volume\r\n'

b'1/2/2025 16:00:00,191.49,193.2,188.71,190.63,17545162\r\n'

In [18]:
out_key = "Ben/gooooog.csv"
s3_client.upload_file(Filename=out_filename,
                      Bucket=bucket_name,
                      Key=out_key)

In [19]:
out_key_obj = "Ben/bingchilling.txt"
in_memory_file = io.BytesIO(b"bing chilling")
s3_client.upload_fileobj(Fileobj=in_memory_file,
                         Bucket=bucket_name,
                         Key=out_key_obj)

In [20]:
objects = s3_client.list_objects_v2(Bucket=bucket_name)
for obj in objects['Contents']:
    if "Ben" in obj['Key']:
        print(obj['Key'])

Ben/Million_Songs/
Ben/bingchilling.txt
Ben/gooooog.csv
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000000_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000001_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000002_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000003_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000004_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000005_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000006_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000007_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000008_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000009_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000010_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000011_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000012_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000013_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000014_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000015_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000016_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000017_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000018_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000019_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000020_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000021_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000022_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000023_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000024_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000025_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000026_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000027_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000028_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000029_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000030_000000.snappy.parquet
Ben/parquetGoogleStock/da5315ad16f94e5488251de78076a594_000031_000000.snappy.parquet
Ben/uploads/Google_upload_test

In [7]:
import awswrangler as wr
df = wr.s3.read_csv('s3://techcatalyst-raw/stocks/GOOG.csv', encoding='utf-8')
display(df.head())
display(df.info())

                Date    Open    High     Low   Close    Volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    140 non-null    object
 1   Open    140 non-null    float64
 2   High    140 non-null    float64
 3   Low     140 non-null    float64
 4   Close   140 non-null    float64
 5   Volume  140 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.7+ KB

None

In [22]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1             alexia_db
2           alexia_logs
3           alexia_song
4      awswrangler_test
5                ben_db
6              ben_song
7              ben_taxi
8            blake_taxi
9           blake_wr_db
10              default  default database
11              emma_db
12           fabiola_db
13           jaden_taxi
14        jadenastle_db
15         melissa_logs
16        melissa_songs
17           michael_db
18             miraj_db
19                my_db
20           shaswat_db
21         shaswat_logs
22         shaswat_song
23         shaswat_taxi
24          suchitha_db
25            tatwan_db
26  tatwan_inclass_demo
27          tatwan_taxi
28             tyler_db

In [23]:
name = "Ben"
database_name = f"{name}_db"
wr.catalog.create_database(database_name, exist_ok=True)

In [24]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1             alexia_db
2           alexia_logs
3           alexia_song
4      awswrangler_test
5                ben_db
6              ben_song
7              ben_taxi
8            blake_taxi
9           blake_wr_db
10              default  default database
11              emma_db
12           fabiola_db
13           jaden_taxi
14        jadenastle_db
15         melissa_logs
16        melissa_songs
17           michael_db
18             miraj_db
19                my_db
20           shaswat_db
21         shaswat_logs
22         shaswat_song
23         shaswat_taxi
24          suchitha_db
25            tatwan_db
26  tatwan_inclass_demo
27          tatwan_taxi
28             tyler_db

In [25]:
wr.catalog.tables(database=database_name)
wr.catalog.delete_table_if_exists(database=database_name, table='BEN_STOCK')

True

In [26]:
table_name = "BEN_STOCK"
wr.s3.to_parquet(
    df=df,
    path=f"s3://techcatalyst-raw/{name}/parquetGoogleStock/",
    dataset=True,
    database=database_name,
    table=table_name,
    mode='overwrite'
)

{'paths': ['s3://techcatalyst-raw/Ben/parquetGoogleStock/3e2ff1de4a8d4223acf39f7d31f8faa7.snappy.parquet'],
 'partitions_values': {}}

In [27]:
display(wr.catalog.tables(database=database_name))
display(wr.catalog.tables(name_contains="stock"))

,Database,Table,Description,TableType,Columns,Partitions
0,ben_db,ben_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

,Database,Table,Description,TableType,Columns,Partitions
0,alexia_db,alexia_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
1,ben_db,ben_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
2,blake_wr_db,blake_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
3,emma_db,emma_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
4,fabiola_db,fabiola_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
5,jadenastle_db,jaden_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
6,michael_db,michael_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,shaswat_db,shaswat_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,suchitha_db,suchitha_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
9,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
10,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
11,tyler_db,tyler_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [28]:
print(database_name)
print(table_name)
wr.catalog.get_table_types(database=database_name, table=table_name)

Ben_db
BEN_STOCK

{'date': 'string',
 'open': 'double',
 'high': 'double',
 'low': 'double',
 'close': 'double',
 'volume': 'bigint'}

In [29]:
table_details=wr.catalog.get_tables(database=database_name)
next(table_details)

{'Name': 'ben_stock',
 'DatabaseName': 'ben_db',
 'CreateTime': datetime.datetime(2025, 8, 4, 16, 16, 44, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2025, 8, 4, 16, 16, 44, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'date', 'Type': 'string'},
   {'Name': 'open', 'Type': 'double'},
   {'Name': 'high', 'Type': 'double'},
   {'Name': 'low', 'Type': 'double'},
   {'Name': 'close', 'Type': 'double'},
   {'Name': 'volume', 'Type': 'bigint'}],
  'Location': 's3://techcatalyst-raw/Ben/parquetGoogleStock/',
  'InputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat',
  'Compressed': True,
  'NumberOfBuckets': -1,
  'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe',
   'Parameters': {'serialization.format': '1'}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'compressionType': 'snappy',
   'classification': 'parquet',
   'typeOfData': 'file'},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'compressionType': 'snappy',
  'classification': 'parquet',
  'projection.enabled': 'false',
  'typeOfData': 'file'},
 'CreatedBy': 'arn:aws:iam::535146832369:user/Benjamin.Acorda',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '535146832369',
 'VersionId': '0',
 'IsMultiDialectView': False}

In [30]:
desc = "This is my stock table."
param = {"source" : "Google", "class" : "stock"}
comments = {
    "Date" : "Trading Date",
    "Open" : "Opening Price",
    "Close" : "Closing Price"
}

wr.s3.to_parquet(
    df=df,
    path=f"s3://techcatalyst-raw/{name}/parquetGoogleStock/",
    dataset=True,
    database=database_name,
    table=table_name,
    mode='overwrite',
    glue_table_settings=wr.typing.GlueTableSettings(description=desc,
                                                    parameters=param,
                                                    columns_comments=comments),
)

{'paths': ['s3://techcatalyst-raw/Ben/parquetGoogleStock/a0eeb97dbd854a5c9cc6e89512faee73.snappy.parquet'],
 'partitions_values': {}}

In [31]:
wr.catalog.table(database=database_name, table=table_name)

  Column Name    Type  Partition        Comment
0        date  string      False   Trading Date
1        open  double      False  Opening Price
2        high  double      False
3         low  double      False
4       close  double      False  Closing Price
5      volume  bigint      False

In [32]:
wr.s3.list_objects('s3://techcatalyst-raw/stage/')

['s3://techcatalyst-raw/stage/yellow_tripdata.csv',
 's3://techcatalyst-raw/stage/yellow_tripdata.json',
 's3://techcatalyst-raw/stage/yellow_tripdata.parquet']

In [33]:
wr.s3.download(path='s3://techcatalyst-raw/stocks/GOOG.csv',
               local_file='./new_file.csv')

In [34]:
your_name = "Ben"
file_name = "Google_upload_test"
wr.s3.upload(local_file='./new_file.csv', path= f's3://techcatalyst-raw/{your_name}/uploads/{file_name}')

In [35]:
wr.s3.list_objects(f's3://techcatalyst-raw/{your_name}/uploads/')

['s3://techcatalyst-raw/Ben/uploads/Google_upload_test']

In [36]:
print(bucket_name)

techcatalyst-raw

In [12]:
db_name = "BEN_TAXI"
table_name = "BEN_TRIPDATA"
s3_path_directory = "s3://techcatalyst-raw/taxi_data/"
s3_path_file = "s3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-01.parquet"

In [13]:
# wr.catalog.delete_table_if_exists(database=db_name, table=table_name)

columns_types, partitions_types = wr.s3.read_parquet_metadata(path=s3_path_file)
print("Successfully read schema from parquet file.")

Successfully read schema from parquet file.

In [14]:
# wr.catalog.create_database(name=db_name)
wr.catalog.create_parquet_table(
    database=db_name,
    table=table_name,
    path=s3_path_directory,
    columns_types=columns_types,
    partitions_types=partitions_types
)

print(f"Table '{table_name}' created successfully in database '{db_name}'.")

Table 'BEN_TRIPDATA' created successfully in database 'BEN_TAXI'.

In [15]:
query = f"SELECT * FROM {table_name} LIMIT 5"

df = wr.athena.read_sql_query(query, database=db_name)

print("\nQuery Results:")
print(df)

Query Results:
   vendorid tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-04-03 17:01:56   2024-04-03 17:31:43              NaN
1         2  2024-04-03 17:42:09   2024-04-03 17:42:57              NaN
2         2  2024-04-03 17:49:47   2024-04-03 18:39:29              NaN
3         2  2024-04-03 17:58:05   2024-04-03 18:04:41              NaN
4         2  2024-04-03 17:27:15   2024-04-03 17:58:46              NaN

   trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  \
0           3.32         NaN               <NA>            87           186
1           0.00         NaN               <NA>           246           246
2           3.77         NaN               <NA>           236           234
3           0.70         NaN               <NA>           233           233
4           4.63         NaN               <NA>           237           246

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             0        35.56    0.0      0.5        0.00           0.0
1             0        14.22    0.0      0.5        3.64           0.0
2             0        35.71    0.0      0.5        0.00           0.0
3             0        14.22    0.0      0.5        2.73           0.0
4             0        31.38    0.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         39.56                   NaN          NaN
1                    1.0         21.86                   NaN          NaN
2                    1.0         39.71                   NaN          NaN
3                    1.0         20.95                   NaN          NaN
4                    1.0         35.38                   NaN          NaN

In [16]:
key = "Ben/test.csv"
s3_client.upload_file(Filename='test.csv',
                      Bucket='techcatalyst-raw',
                      Key=key)